{% extends 'base.html' %}
{% block content %}
    <h1>New Menu Item</h1>
    <form action="" method="POST">
        {{ form.csrf_token }}
        Name: {{ form.name }}<br>
        Description: {{ form.description }}<br>
        Price: {{ form.price }}<br>
        {% for subfield in form.course %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        {{ form.submit }}
    </form>
    <a href={{ url_for('show_restaurant_menu', id=restaurant_id) }}>Cancel</a>
{% endblock %}